In [1]:
import pandas as pd

list_report = ['FY2023_Q3', 'FY2022_Q4', 'FY2021_Q4', 'FY2020_Q4', 'FY2019_Q4',
               'FY18_Q4', 'FY17_Q4', 'FY16_Q4', 'FY15_Q4', 'FY14_Q4']

df_total = pd.DataFrame()
for report in list_report:
    print(report)
    data_url = f'https://www.dol.gov/sites/dolgov/files/ETA/oflc/pdfs/PERM_Disclosure_Data_{report}.xlsx'
    try:
        df = pd.read_excel(data_url)
    except:
        print(f'Error reading file {report}')
        continue
    df_total = pd.concat([df_total, df])
    print(df_total.shape)

FY2023_Q3
(86201, 154)
FY2022_Q4
(190801, 156)
FY2021_Q4
(299065, 156)
FY2020_Q4
(393084, 157)
FY2019_Q4
Error reading file FY2019_Q4
FY18_Q4
Error reading file FY18_Q4
FY17_Q4
Error reading file FY17_Q4
FY16_Q4
Error reading file FY16_Q4
FY15_Q4
(482383, 261)
FY14_Q4
Error reading file FY14_Q4

In [9]:
# get the dupplicated Case Number
df_total_dup = df_total[df_total.duplicated(subset=['CASE_NUMBER'], keep=False)].sort_values(by=['CASE_NUMBER', 'DECISION_DATE'], ascending=[True, True])
df_total_dup

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,REFILE,ORIG_FILE_DATE,PREVIOUS_SWA_CASE_NUMBER_STATE,SCHD_A_SHEEPHERDER,EMPLOYER_NAME,EMPLOYER_ADDRESS_1,...,FW_INFO_TRAINING_COMP,FW_INFO_REQ_EXPERIENCE,FW_INFO_ALT_EDU_EXPERIENCE,FW_INFO_REL_OCCUP_EXP,PREPARER_INFO_EMP_COMPLETED,PREPARER_INFO_TITLE,EMPLOYER_DECL_INFO_TITLE,NAICS_US_CODE,NAICS_US_TITLE,PW_Job_Title_9089
80005,A-11250-04139,Denied,NaT,2015-09-02,N,NaT,NaN,N,VENTRA OHIO CORP,5663 EAST 9 MILE ROAD,...,NaN,NaN,NaN,NaN,N,Attorney,Director of Human Resources,541618,Other Management Consulting Services,Director of Engineering
80006,A-11250-04139,Denied,NaT,2015-09-02,N,NaT,NaN,N,VENTRA OHIO CORP,5663 EAST 9 MILE ROAD,...,NaN,NaN,NaN,NaN,N,Attorney,Director of Human Resources,541618,Other Management Consulting Services,Director of Engineering
80833,A-13078-49181,Denied,NaT,2014-10-27,N,NaT,NaN,N,MSP CORP DBA MAD SCIENCE OF NEW YORK,56 LAFAYETTE AVE #340,...,NaN,NaN,NaN,NaN,Y,NaN,Owner,61,Educational Services,Science Enrichment Instructor
80834,A-13078-49181,Denied,NaT,2014-10-27,N,NaT,NaN,N,MSP CORP DBA MAD SCIENCE OF NEW YORK,56 LAFAYETTE AVE #340,...,NaN,NaN,NaN,NaN,Y,NaN,Owner,61,Educational Services,Science Enrichment Instructor
82348,A-13172-74031,Denied,NaT,2014-10-27,N,NaT,NaN,N,ROSKO HOLDINGS D/B/A SONG,295 FIFTH AVE.,...,NaN,NaN,NaN,NaN,N,ATTORNEY,PRESIDENT,722110,Full-Service Restaurants,COOK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41465,A-21343-84133,Denied,2022-01-14,2023-02-15,N,NaT,NaN,N,STATE STREET BANK AND TRUST COMPANY,ONE CONGRESS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97293,A-22009-95524,Certified,2022-01-12,2022-09-02,N,NaT,NaN,N,"SUPRASOFT, INC",830 E. HIGGINS RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43324,A-22009-95524,Withdrawn,2022-01-12,2023-02-22,N,NaT,NaN,N,"SUPRASOFT, INC",830 E. HIGGINS RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100353,A-22103-40538,Withdrawn,2022-04-14,2022-09-18,N,NaT,NaN,N,FANNIE MAE,1100 15TH ST NW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64850,A-22103-40538,Certified,2022-04-14,2023-04-26,N,NaT,NaN,N,FANNIE MAE,1100 15TH ST NW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN